:root {
    --kyf-primary: #AB0B39;
    --kyf-secondary: #01BFBF;
    --kyf-blue: #2C3D85;
    --kyf-white: #fff;
}

.bg-kc-blue {
    background-color: var(--kyf-blue);
}

html {
    height: 100vh;
}

body {
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

* {
    margin: 0;
    padding: 0;
}

.kyf-navbar {
    background-color: var(--kyf-white) !important;
}

.kyf-logo {
    transform: scale(1.5);
    font-weight: 600;
}

.kyf-content {
    line-height: 2rem;
    letter-spacing: 1px;
}

.title-1 {
    font-size: xx-large;
    font-weight: bolder;
    color: var(--kyf-blue);
}
.title-2{
    font-size: x-large;
    font-weight: bold;
    color: var(--kyf-blue);
}
.title-3{
    font-size: large;
    font-weight: normal;
    color: var(--kyf-blue);
}

.kyf-card {
    background-color: var(--kyf-blue);
    color: var(--kyf-white);
}

.footer {
    margin-top: 2rem;
    background-color: var(--kyf-blue);
    color: white
}
.img-chairman{
    transform: scale(0.8);
}
.footer-content {
    display: flex;
    justify-content: center;
    padding: 2rem;
}
